### Appliances Hamzat

In [1]:
#data cleaning and manipulation libraries
import numpy as np
import pandas as pd 

#visualisation libraries
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

#text processing library
from textblob import TextBlob

In [2]:
appliances_df = pd.read_csv("appliances.csv")

In [3]:
appliances_df.head()

,Unnamed: 0,overall,verified,reviewTime,reviewerID,asin,reviewerName,reviewText,vote,image
0,0,5,True,"08 22, 2013",A34A1UP40713F8,B00009W3I4,James. Backus,I like this as a vent as well as something tha...,NaN,NaN
1,1,5,True,"02 8, 2016",A1AHW6I678O6F2,B00009W3PA,kevin.,good item,NaN,NaN
2,2,5,True,"08 5, 2015",A8R48NKTGCJDQ,B00009W3PA,CDBrannom,Fit my new LG dryer perfectly.,NaN,NaN
3,3,5,True,"04 24, 2015",AR3OHHHW01A8E,B00009W3PA,Calvin E Reames,Good value for electric dryers,NaN,NaN
4,4,5,True,"03 21, 2015",A2CIEGHZ7L1WWR,B00009W3PA,albert j. kong,Price and delivery was excellent.,NaN,NaN

In [4]:
appliances_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2277 entries, 0 to 2276
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    2277 non-null   int64
 1   overall       2277 non-null   int64
 2   verified      2277 non-null   bool
 3   reviewTime    2277 non-null   object
 4   reviewerID    2277 non-null   object
 5   asin          2277 non-null   object
 6   reviewerName  2277 non-null   object
 7   reviewText    2277 non-null   object
 8   vote          2074 non-null   object
 9   image         828 non-null    object
dtypes: bool(1), int64(2), object(7)
memory usage: 162.5+ KB

In [5]:
appliances_df = appliances_df.drop(['vote','image',], axis=1)
appliances_df.head()

,Unnamed: 0,overall,verified,reviewTime,reviewerID,asin,reviewerName,reviewText
0,0,5,True,"08 22, 2013",A34A1UP40713F8,B00009W3I4,James. Backus,I like this as a vent as well as something tha...
1,1,5,True,"02 8, 2016",A1AHW6I678O6F2,B00009W3PA,kevin.,good item
2,2,5,True,"08 5, 2015",A8R48NKTGCJDQ,B00009W3PA,CDBrannom,Fit my new LG dryer perfectly.
3,3,5,True,"04 24, 2015",AR3OHHHW01A8E,B00009W3PA,Calvin E Reames,Good value for electric dryers
4,4,5,True,"03 21, 2015",A2CIEGHZ7L1WWR,B00009W3PA,albert j. kong,Price and delivery was excellent.

In [6]:
del appliances_df["Unnamed: 0"]

In [7]:
appliances_df['reviewTime'] = pd.to_datetime(appliances_df['reviewTime'])

In [8]:
appliances_df.rename(columns={"overall":"productRating","asin":"productID",}, inplace=True)
appliances_df.head()

,productRating,verified,reviewTime,reviewerID,productID,reviewerName,reviewText
0,5,True,2013-08-22,A34A1UP40713F8,B00009W3I4,James. Backus,I like this as a vent as well as something tha...
1,5,True,2016-02-08,A1AHW6I678O6F2,B00009W3PA,kevin.,good item
2,5,True,2015-08-05,A8R48NKTGCJDQ,B00009W3PA,CDBrannom,Fit my new LG dryer perfectly.
3,5,True,2015-04-24,AR3OHHHW01A8E,B00009W3PA,Calvin E Reames,Good value for electric dryers
4,5,True,2015-03-21,A2CIEGHZ7L1WWR,B00009W3PA,albert j. kong,Price and delivery was excellent.

In [9]:
appliances_df.groupby('productRating').sum()

               verified
productRating
1                     4
2                     7
3                   421
4                   222
5                  1594

In [10]:
appliances_df.groupby('productID').count().sort_values('productRating', ascending = False)

,productRating,verified,reviewTime,reviewerID,reviewerName,reviewText
productID,,,,,,
B0006GVNOA,2040,2040,2040,2040,2040,2040
B0014CN8Y8,24,24,24,24,24,24
B00JGTUQJ6,13,13,13,13,13,13
B0015UGPWQ,12,12,12,12,12,12
B004XLDE5A,8,8,8,8,8,8
B000XXWOGW,8,8,8,8,8,8
B0056I99WG,8,8,8,8,8,8
B00CW0O1EW,8,8,8,8,8,8
B001DPFP88,7,7,7,7,7,7
B000NCTOUM,7,7,7,7,7,7
B0053F80JA,7,7,7,7,7,7
B000N6302Q,7,7,7,7,7,7
B00P9C66PM,7,7,7,7,7,7
B00MGMWTQS,6,6,6,6,6,6
B00DM8J11Q,6,6,6,6,6,6
B001769IVI,6,6,6,6,6,6
B001DHLGOS,6,6,6,6,6,6
B00126NABC,6,6,6,6,6,6
B00570RQ0A,6,6,6,6,6,6
B004UB1O9Q,5,5,5,5,5,5
B004XLDDNI,5,5,5,5,5,5
B004XLDHSE,5,5,5,5,5,5
B008YDSH6E,5,5,5,5,5,5
B00DM8JA7Q,5,5,5,5,5,5
B00470A1S0,5,5,5,5,5,5
B00W4YKCGC,5,5,5,5,5,5
B00009W3PA,5,5,5,5,5,5
B0053F7TQA,4,4,4,4,4,4
B000XXYUSM,4,4,4,4,4,4
B00DM8KQ2Y,4,4,4,4,4,4
B00AHR3IG4,4,4,4,4,4,4
B000VL060M,4,4,4,4,4,4
B0042U16YI,2,2,2,2,2,2
B0015S4KIO,2,2,2,2,2,2
B00149JVOC,2,2,2,2,2,2
B00147DFQ4,2,2,2,2,2,2
B0013DN4NI,2,2,2,2,2,2
B000XTJRRA,2,2,2,2,2,2
B000W3P4AQ,2,2,2,2,2,2
B000VLI74Y,2,2,2,2,2,2
B00186NSGS,2,2,2,2,2,2
B00009W3I4,1,1,1,1,1,1
B00BIZDI0A,1,1,1,1,1,1
B009PCI2JU,1,1,1,1,1,1
B0045LLC7K,1,1,1,1,1,1
B001DPQPKU,1,1,1,1,1,1
B0009GVYNW,1,1,1,1,1,1
B0042ACZU2,1,1,1,1,1,1

In [11]:
appliances_df.isnull().sum()

productRating    0
verified         0
reviewTime       0
reviewerID       0
productID        0
reviewerName     0
reviewText       0
dtype: int64

In [12]:
appliances_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2277 entries, 0 to 2276
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   productRating  2277 non-null   int64
 1   verified       2277 non-null   bool
 2   reviewTime     2277 non-null   datetime64[ns]
 3   reviewerID     2277 non-null   object
 4   productID      2277 non-null   object
 5   reviewerName   2277 non-null   object
 6   reviewText     2277 non-null   object
dtypes: bool(1), datetime64[ns](1), int64(1), object(4)
memory usage: 109.1+ KB

In [13]:
appliances_df["reviewText"] = appliances_df["reviewText"].astype(str)

In [14]:
appliances_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2277 entries, 0 to 2276
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   productRating  2277 non-null   int64
 1   verified       2277 non-null   bool
 2   reviewTime     2277 non-null   datetime64[ns]
 3   reviewerID     2277 non-null   object
 4   productID      2277 non-null   object
 5   reviewerName   2277 non-null   object
 6   reviewText     2277 non-null   object
dtypes: bool(1), datetime64[ns](1), int64(1), object(4)
memory usage: 109.1+ KB

In [15]:
appliances_df["reviewTime"] = pd.to_datetime(appliances_df["reviewTime"] )

In [16]:
appliances_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2277 entries, 0 to 2276
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   productRating  2277 non-null   int64
 1   verified       2277 non-null   bool
 2   reviewTime     2277 non-null   datetime64[ns]
 3   reviewerID     2277 non-null   object
 4   productID      2277 non-null   object
 5   reviewerName   2277 non-null   object
 6   reviewText     2277 non-null   object
dtypes: bool(1), datetime64[ns](1), int64(1), object(4)
memory usage: 109.1+ KB

### Analysis with datetimes

In [17]:
time_span = appliances_df["reviewTime"].max() - appliances_df["reviewTime"].min()

print ("Time span of the data: {}".format(time_span))

Time span of the data: 3500 days 00:00:00

In [18]:
appliances_df["year"] = appliances_df["reviewTime"].dt.year
appliances_df["month"] = appliances_df["reviewTime"].dt.month_name()
appliances_df["dayOfTheWeek"] = appliances_df["reviewTime"].dt.day_name()

In [19]:
appliances_df.head()

,productRating,verified,reviewTime,reviewerID,productID,reviewerName,reviewText,year,month,dayOfTheWeek
0,5,True,2013-08-22,A34A1UP40713F8,B00009W3I4,James. Backus,I like this as a vent as well as something tha...,2013,August,Thursday
1,5,True,2016-02-08,A1AHW6I678O6F2,B00009W3PA,kevin.,good item,2016,February,Monday
2,5,True,2015-08-05,A8R48NKTGCJDQ,B00009W3PA,CDBrannom,Fit my new LG dryer perfectly.,2015,August,Wednesday
3,5,True,2015-04-24,AR3OHHHW01A8E,B00009W3PA,Calvin E Reames,Good value for electric dryers,2015,April,Friday
4,5,True,2015-03-21,A2CIEGHZ7L1WWR,B00009W3PA,albert j. kong,Price and delivery was excellent.,2015,March,Saturday

In [20]:
year_count = appliances_df.groupby("year").count().sort_values("reviewText", ascending=False)[["reviewText"]]
year_count.rename(columns={"reviewText":"numberOfReviews"}, inplace=True)

print("AMOUNT OF REVIEWS PER YEAR:")
year_count

AMOUNT OF REVIEWS PER YEAR:

      numberOfReviews
year
2016             1275
2015              286
2017              220
2011              214
2018              209
2014               49
2013               18
2008                2
2010                2
2012                2

In [21]:
month_count = appliances_df.groupby("month").count().sort_values("reviewText", ascending=False)[["reviewText"]]
month_count.rename(columns={"reviewText":"numberOfReviews"}, inplace=True)

print("AMOUNT OF REVIEWS PER MONTH:")
month_count

AMOUNT OF REVIEWS PER MONTH:

           numberOfReviews
month
December               841
March                  437
November               243
January                223
February               220
September              219
August                  33
July                    21
April                   20
June                    11
October                  6
May                      3

In [22]:
year_month_count = appliances_df.groupby(["year", "month"]).count().sort_values("year", ascending=False)[["reviewText"]]
year_month_count.rename(columns={"reviewText": "numberOfReviews"}, inplace=True)

print("MONTHLY BREAKDOWN OF AMOUNT OF REVIEWS FOR EACH YEAR:")
year_month_count

MONTHLY BREAKDOWN OF AMOUNT OF REVIEWS FOR EACH YEAR:

                numberOfReviews
year month
2018 January                206
     February                 2
     April                    1
2017 March                    1
     June                     7
     July                     2
     February               208
     April                    2
2016 July                     3
     April                    5
     August                   1
     December               620
     February                 4
     January                 11
     May                      1
     June                     1
     March                  212
     November               208
     October                  1
     September              208
2015 March                   15
     September                4
     October                  1
     November                 5
     May                      1
     June                     1
     July                    16
     January                  6
     February                 4
     December               206
     August                  17
     April                   10
2014 February                 2
     April                    2
     August                   8
     December                 7
     March                    1
     May                      1
     November                23
     October                  4
     September                1
2013 November                 7
     June                     2
     December                 6
     August                   3
2012 December                 2
2011 August                   4
     September                4
     March                  206
2010 March                    2
2008 September                2

In [23]:
yearly_rating = appliances_df.groupby("year").agg({"reviewText":"count","productRating":"mean"}).sort_values(
    "reviewText",ascending=False)
yearly_rating.rename(columns={"reviewText":"numberOfReviews", "productRating":"aveargeProductRating"}, inplace=True)

print("AVERAGE RATINGS PER YEAR:")
yearly_rating

AVERAGE RATINGS PER YEAR:

      numberOfReviews  aveargeProductRating
year
2016             1275              4.345882
2015              286              4.905594
2017              220              4.963636
2011              214              4.915888
2018              209              4.009569
2014               49              4.448980
2013               18              4.111111
2008                2              5.000000
2010                2              4.000000
2012                2              5.000000

In [24]:
yearly_month_rating = appliances_df.groupby(["year","month"]).agg({"reviewText":"count", "productRating":"mean"}).sort_values(
    "year", ascending=False)
yearly_month_rating.rename(columns={"reviewText":"numberOfReviews", "productRating":"aveargeProductRating"}, inplace=True)

print("MONTHLY BREAKDOWN FOR AVERAGE RATINGS PER YEAR:")
yearly_month_rating

MONTHLY BREAKDOWN FOR AVERAGE RATINGS PER YEAR:

                numberOfReviews  aveargeProductRating
year month
2018 January                206              4.000000
     February                 2              4.500000
     April                    1              5.000000
2017 March                    1              5.000000
     June                     7              5.000000
     July                     2              2.000000
     February               208              5.000000
     April                    2              4.000000
2016 July                     3              4.333333
     April                    5              5.000000
     August                   1              4.000000
     December               620              4.335484
     February                 4              5.000000
     January                 11              5.000000
     May                      1              2.000000
     June                     1              5.000000
     March                  212              5.000000
     November               208              5.000000
     October                  1              5.000000
     September              208              3.000000
2015 March                   15              5.000000
     September                4              3.000000
     October                  1              2.000000
     November                 5              5.000000
     May                      1              5.000000
     June                     1              5.000000
     July                    16              5.000000
     January                  6              5.000000
     February                 4              5.000000
     December               206              5.000000
     August                  17              4.058824
     April                   10              5.000000
2014 February                 2              5.000000
     April                    2              4.000000
     August                   8              4.375000
     December                 7              5.000000
     March                    1              5.000000
     May                      1              5.000000
     November                23              4.130435
     October                  4              5.000000
     September                1              5.000000
2013 November                 7              3.285714
     June                     2              4.000000
     December                 6              5.000000
     August                   3              4.333333
2012 December                 2              5.000000
2011 August                   4              2.000000
     September                4              3.500000
     March                  206              5.000000
2010 March                    2              4.000000
2008 September                2              5.000000

### Simple sentiment analysis

#### Creating a function to get the sentiment and the sentiment label

In [25]:
def the_sentiment (text):
    blob = TextBlob(text)
    return blob.polarity

def the_sentiment_label(text):
    blob = TextBlob(text)
    if blob.polarity > 0.05:
        polarity_label = "positive"
    elif blob.polarity < -0.01:
        polarity_label = "negative"
    else:
        polarity_label = "neutral"
    return polarity_label

#### Create new columns for sentiment and sentiment labels

In [26]:
appliances_df["reviewText"] = appliances_df["reviewText"].astype(str)


appliances_df["sentiment"] = appliances_df["reviewText"].apply(the_sentiment)
appliances_df["sentimentLabel"] = appliances_df["reviewText"].apply(the_sentiment_label)

In [27]:
appliances_df.head()

,productRating,verified,reviewTime,reviewerID,productID,reviewerName,reviewText,year,month,dayOfTheWeek,sentiment,sentimentLabel
0,5,True,2013-08-22,A34A1UP40713F8,B00009W3I4,James. Backus,I like this as a vent as well as something tha...,2013,August,Thursday,0.400000,positive
1,5,True,2016-02-08,A1AHW6I678O6F2,B00009W3PA,kevin.,good item,2016,February,Monday,0.700000,positive
2,5,True,2015-08-05,A8R48NKTGCJDQ,B00009W3PA,CDBrannom,Fit my new LG dryer perfectly.,2015,August,Wednesday,0.512121,positive
3,5,True,2015-04-24,AR3OHHHW01A8E,B00009W3PA,Calvin E Reames,Good value for electric dryers,2015,April,Friday,0.700000,positive
4,5,True,2015-03-21,A2CIEGHZ7L1WWR,B00009W3PA,albert j. kong,Price and delivery was excellent.,2015,March,Saturday,1.000000,positive

#### Number of each label

In [28]:
label_count = appliances_df.groupby("sentimentLabel").count().sort_values("sentiment", ascending=False)[["sentiment"]]

print("NUMBER OF POSITVE, NEGATIVE AND NEUTRAL REVIEWS: ")
label_count

NUMBER OF POSITVE, NEGATIVE AND NEUTRAL REVIEWS:

                sentiment
sentimentLabel
positive             1822
neutral               448
negative                7

#### Number of geniue good, neutral and bad engines

In [29]:
genuine_good_rating = appliances_df[(appliances_df['sentimentLabel']=='positive') & (appliances_df['productRating']>3)]

print("NUMBER OF GENUINE GOOD RATINGS: {}".format(len(genuine_good_rating)))

NUMBER OF GENUINE GOOD RATINGS: 1392

In [30]:
genuine_neutral_rating = appliances_df[(appliances_df['sentimentLabel']=='neutral') & (appliances_df['productRating']==3)]

print("NUMBER OF GENUINE NEUTRAL RATINGS: {}".format(len(genuine_neutral_rating)))

NUMBER OF GENUINE NEUTRAL RATINGS: 2

In [31]:
genuine_bad_rating = appliances_df[(appliances_df['sentimentLabel']=='negative') & (appliances_df['productRating']<3)]

print("NUMBER OF GENUINE BAD RATINGS: {}".format(len(genuine_bad_rating)))

NUMBER OF GENUINE BAD RATINGS: 5

### Analysis on products (productID)

In [32]:
no_of_products = len(appliances_df["productID"].unique())
print("Amount of products that were reviewed: {}".format(no_of_products))

Amount of products that were reviewed: 48

In [33]:
reviews_per_product = appliances_df.groupby("productID").count().sort_values("reviewText", ascending=False)[["reviewText"]]
reviews_per_product.rename(columns={"reviewText":"numberOfReviews"}, inplace=True)

print("NUMBER OF REVIEWS PER PRODUCT: ")
reviews_per_product

NUMBER OF REVIEWS PER PRODUCT:

            numberOfReviews
productID
B0006GVNOA             2040
B0014CN8Y8               24
B00JGTUQJ6               13
B0015UGPWQ               12
B004XLDE5A                8
B000XXWOGW                8
B0056I99WG                8
B00CW0O1EW                8
B001DPFP88                7
B000NCTOUM                7
B0053F80JA                7
B000N6302Q                7
B00P9C66PM                7
B00MGMWTQS                6
B00DM8J11Q                6
B001769IVI                6
B001DHLGOS                6
B00126NABC                6
B00570RQ0A                6
B004UB1O9Q                5
B004XLDDNI                5
B004XLDHSE                5
B008YDSH6E                5
B00DM8JA7Q                5
B00470A1S0                5
B00W4YKCGC                5
B00009W3PA                5
B0053F7TQA                4
B000XXYUSM                4
B00DM8KQ2Y                4
B00AHR3IG4                4
B000VL060M                4
B0042U16YI                2
B0015S4KIO                2
B00149JVOC                2
B00147DFQ4                2
B0013DN4NI                2
B000XTJRRA                2
B000W3P4AQ                2
B000VLI74Y                2
B00186NSGS                2
B00009W3I4                1
B00BIZDI0A                1
B009PCI2JU                1
B0045LLC7K                1
B001DPQPKU                1
B0009GVYNW                1
B0042ACZU2                1

In [34]:
top_products = reviews_per_product["numberOfReviews"].nlargest(10)

print("MOST REVIEWED PRODUCTS: \n{}".format(top_products))

MOST REVIEWED PRODUCTS:
productID
B0006GVNOA    2040
B0014CN8Y8      24
B00JGTUQJ6      13
B0015UGPWQ      12
B004XLDE5A       8
B000XXWOGW       8
B0056I99WG       8
B00CW0O1EW       8
B001DPFP88       7
B000NCTOUM       7
Name: numberOfReviews, dtype: int64

In [35]:
least_products = reviews_per_product["numberOfReviews"].nsmallest(10)

print("LEAST REVIEWED PRODUCTS: \n{}".format(least_products))

LEAST REVIEWED PRODUCTS:
productID
B00009W3I4    1
B00BIZDI0A    1
B009PCI2JU    1
B0045LLC7K    1
B001DPQPKU    1
B0009GVYNW    1
B0042ACZU2    1
B0042U16YI    2
B0015S4KIO    2
B00149JVOC    2
Name: numberOfReviews, dtype: int64

#### Sentiment labels per product

In [36]:
appliances_df.groupby(["productID", "sentimentLabel"]).count().sort_values("sentiment", ascending=False)[["sentiment"]]

                           sentiment
productID  sentimentLabel
B0006GVNOA positive             1632
           neutral               408
B0014CN8Y8 positive               20
B00JGTUQJ6 positive               10
B004XLDE5A positive                8
...                              ...
B001DPFP88 neutral                 1
B00186NSGS positive                1
           negative                1
B0009GVYNW positive                1
B0042U16YI neutral                 1

[71 rows x 1 columns]

### Analysis on Reviewers

#### Number of reviewers

In [37]:
no_of_reviewers = len(appliances_df["reviewerID"].unique())
print("Number of reviewers: {}".format(no_of_products))

Number of reviewers: 48

#### Review count per reviewer

In [38]:
review_count = appliances_df.groupby("reviewerID").count().sort_values("reviewText", ascending=False)[["reviewText"]]
review_count.rename(columns={"reviewText":"numberOfReviews"}, inplace=True)

print("NUMBER OF REVIEWS PER REVIEWER: ")
review_count

NUMBER OF REVIEWS PER REVIEWER:

                numberOfReviews
reviewerID
A25C30G90PKSQA              206
A1IT56MV1C09VS              206
A2B2JVUX5YN8RU              206
A21TPY9BVC9IKZ              206
A1WD61B0C3KQZB              206
A3VYM3NY7W4MX4              206
A3TMNU7VNK5JJE              206
A8WEXFRWX1ZHH               206
AMY6O4Z9HINO0               206
A2LDP3A4IE9T6T              206
A13391AZAFJ67K                9
A37DQO5LU8DXTV                8
A6FPI5CM4W5WB                 8
A3GP2HMB2AFOKF                8
ALZOND1IEW8KS                 7
A2V0JXLJ9VCNNX                7
A1EUO0BU72JR7T                7
A1Y4UNHRP312HS                7
A26M3TN8QICJ3K                7
A34A1UP40713F8                6
A2OP8DEIIUESP                 6
A11SCLK8GDDN3C                6
A2CIEGHZ7L1WWR                6
A3LGZ8M29PBNGG                6
A1T1YSCDW0PD25                6
AFUVGAUNQVT0S                 6
A1LN48DHHCKLR3                6
A3NHUQ33CFH3VM                6
A8R48NKTGCJDQ                 5
AJPRN1TD1A0SD                 5
A3SM7H70QI3TY8                5
AR3OHHHW01A8E                 5
A2O7BWHBIV1HWZ                5
A3J8IC20SGBS2O                5
A3H61AMBJ177DG                5
A3B1B4E184FSUZ                5
A329823SXZ8IBE                5
A2HDUVKXR5CM7H                5
A26Y776G7VVBCQ                5
A23KSPVPHZF6EO                5
A1RQQV9HYHDHDN                5
A1OB2H416ARLFJ                5
A1HWFUO5PKB2RW                5
A1H2V1GNEY4LZ0                5
A1AJW9DILZFTQI                5
A1AHW6I678O6F2                5
AVGG8CYK8K312                 5

#### Most reviews done in a day per reviewer

In [39]:
review_per_day = appliances_df.groupby(['reviewTime', 'reviewerID']).count().sort_values(
    'reviewText', ascending=False)[["reviewText"]]
review_per_day.rename(columns={"reviewText":"numberOfReviews"}, inplace=True)

print("MOST REVIEWS DONE IN A DAY PER REVIEWER: ")
review_per_day

MOST REVIEWS DONE IN A DAY PER REVIEWER:

                           numberOfReviews
reviewTime reviewerID
2015-12-05 A2LDP3A4IE9T6T              206
2016-09-10 A3TMNU7VNK5JJE              206
2016-12-06 A25C30G90PKSQA              206
           A2B2JVUX5YN8RU              206
2016-12-21 A3VYM3NY7W4MX4              206
...                                    ...
2014-10-19 A2O7BWHBIV1HWZ                1
2016-05-26 A1HWFUO5PKB2RW                1
2016-06-16 A3J8IC20SGBS2O                1
2015-07-04 AFUVGAUNQVT0S                 1
2018-04-17 A13391AZAFJ67K                1

[107 rows x 1 columns]

### Analysis on product ratings

In [40]:
axes1 = appliances_df.groupby('productID').count()
axes2 = appliances_df.groupby('productID').mean()

#### Average rating per product

In [41]:
rating_per_product = appliances_df.groupby("productID").agg({"reviewText":"count","productRating":"mean"}).sort_values(
    "reviewText",ascending=False)
rating_per_product.rename(columns={"reviewText":"numberOfReviews", "productRating":"averageProductRating"}, inplace=True)

print("AVERAGE RATING PER PRODUCT:")
rating_per_product

AVERAGE RATING PER PRODUCT:

            numberOfReviews  averageProductRating
productID
B0006GVNOA             2040              4.500000
B0014CN8Y8               24              4.500000
B00JGTUQJ6               13              5.000000
B0015UGPWQ               12              4.833333
B004XLDE5A                8              4.500000
B000XXWOGW                8              3.500000
B0056I99WG                8              4.125000
B00CW0O1EW                8              5.000000
B001DPFP88                7              5.000000
B000NCTOUM                7              4.428571
B0053F80JA                7              4.571429
B000N6302Q                7              1.285714
B00P9C66PM                7              5.000000
B00MGMWTQS                6              5.000000
B00DM8J11Q                6              5.000000
B001769IVI                6              4.333333
B001DHLGOS                6              4.500000
B00126NABC                6              4.000000
B00570RQ0A                6              5.000000
B004UB1O9Q                5              5.000000
B004XLDDNI                5              5.000000
B004XLDHSE                5              5.000000
B008YDSH6E                5              5.000000
B00DM8JA7Q                5              4.200000
B00470A1S0                5              4.400000
B00W4YKCGC                5              5.000000
B00009W3PA                5              5.000000
B0053F7TQA                4              4.250000
B000XXYUSM                4              4.000000
B00DM8KQ2Y                4              5.000000
B00AHR3IG4                4              5.000000
B000VL060M                4              5.000000
B0042U16YI                2              5.000000
B0015S4KIO                2              5.000000
B00149JVOC                2              4.000000
B00147DFQ4                2              2.000000
B0013DN4NI                2              5.000000
B000XTJRRA                2              4.000000
B000W3P4AQ                2              2.000000
B000VLI74Y                2              5.000000
B00186NSGS                2              4.000000
B00009W3I4                1              5.000000
B00BIZDI0A                1              3.000000
B009PCI2JU                1              4.000000
B0045LLC7K                1              5.000000
B001DPQPKU                1              5.000000
B0009GVYNW                1              4.000000
B0042ACZU2                1              5.000000

#### Average rating per reviewer

In [42]:
rating_per_reviewer = appliances_df.groupby("reviewerID").agg({"reviewText":"count","productRating":"mean"}).sort_values(
    "reviewText",ascending=False)
rating_per_reviewer.rename(columns={"reviewText":"numberOfReviews", "productRating":"averageProductRating"}, inplace=True)

print("AVERAGE RATING PER REVIEWER:")
rating_per_reviewer

AVERAGE RATING PER REVIEWER:

                numberOfReviews  averageProductRating
reviewerID
A25C30G90PKSQA              206              3.000000
A1IT56MV1C09VS              206              5.000000
A2B2JVUX5YN8RU              206              5.000000
A21TPY9BVC9IKZ              206              5.000000
A1WD61B0C3KQZB              206              4.000000
A3VYM3NY7W4MX4              206              5.000000
A3TMNU7VNK5JJE              206              3.000000
A8WEXFRWX1ZHH               206              5.000000
AMY6O4Z9HINO0               206              5.000000
A2LDP3A4IE9T6T              206              5.000000
A13391AZAFJ67K                9              5.000000
A37DQO5LU8DXTV                8              5.000000
A6FPI5CM4W5WB                 8              5.000000
A3GP2HMB2AFOKF                8              5.000000
ALZOND1IEW8KS                 7              5.000000
A2V0JXLJ9VCNNX                7              5.000000
A1EUO0BU72JR7T                7              5.000000
A1Y4UNHRP312HS                7              5.000000
A26M3TN8QICJ3K                7              5.000000
A34A1UP40713F8                6              4.500000
A2OP8DEIIUESP                 6              5.000000
A11SCLK8GDDN3C                6              5.000000
A2CIEGHZ7L1WWR                6              5.000000
A3LGZ8M29PBNGG                6              2.000000
A1T1YSCDW0PD25                6              4.333333
AFUVGAUNQVT0S                 6              5.000000
A1LN48DHHCKLR3                6              5.000000
A3NHUQ33CFH3VM                6              4.333333
A8R48NKTGCJDQ                 5              4.200000
AJPRN1TD1A0SD                 5              2.200000
A3SM7H70QI3TY8                5              1.000000
AR3OHHHW01A8E                 5              5.000000
A2O7BWHBIV1HWZ                5              5.000000
A3J8IC20SGBS2O                5              5.000000
A3H61AMBJ177DG                5              5.000000
A3B1B4E184FSUZ                5              5.000000
A329823SXZ8IBE                5              5.000000
A2HDUVKXR5CM7H                5              2.600000
A26Y776G7VVBCQ                5              3.800000
A23KSPVPHZF6EO                5              4.800000
A1RQQV9HYHDHDN                5              5.000000
A1OB2H416ARLFJ                5              4.000000
A1HWFUO5PKB2RW                5              2.200000
A1H2V1GNEY4LZ0                5              4.200000
A1AJW9DILZFTQI                5              5.000000
A1AHW6I678O6F2                5              5.000000
AVGG8CYK8K312                 5              5.000000

#### Least satisfied customers

In [43]:
least_sat_cust = rating_per_reviewer["averageProductRating"].nsmallest(10)

print("LEAST SATISFIED CUSTOMERS: \n{}".format(least_sat_cust))

LEAST SATISFIED CUSTOMERS:
reviewerID
A3SM7H70QI3TY8    1.0
A3LGZ8M29PBNGG    2.0
AJPRN1TD1A0SD     2.2
A1HWFUO5PKB2RW    2.2
A2HDUVKXR5CM7H    2.6
A25C30G90PKSQA    3.0
A3TMNU7VNK5JJE    3.0
A26Y776G7VVBCQ    3.8
A1WD61B0C3KQZB    4.0
A1OB2H416ARLFJ    4.0
Name: averageProductRating, dtype: float64