### Appliances Hamzat

In [13]:
appliances_df = pd.read_csv("appliances.csv")

In [14]:
appliances_df.head()

,Unnamed: 0,overall,verified,reviewTime,reviewerID,asin,reviewerName,reviewText,vote,image
0,0,5,True,"08 22, 2013",A34A1UP40713F8,B00009W3I4,James. Backus,I like this as a vent as well as something tha...,NaN,NaN
1,1,5,True,"02 8, 2016",A1AHW6I678O6F2,B00009W3PA,kevin.,good item,NaN,NaN
2,2,5,True,"08 5, 2015",A8R48NKTGCJDQ,B00009W3PA,CDBrannom,Fit my new LG dryer perfectly.,NaN,NaN
3,3,5,True,"04 24, 2015",AR3OHHHW01A8E,B00009W3PA,Calvin E Reames,Good value for electric dryers,NaN,NaN
4,4,5,True,"03 21, 2015",A2CIEGHZ7L1WWR,B00009W3PA,albert j. kong,Price and delivery was excellent.,NaN,NaN

In [7]:
appliances_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2277 entries, 0 to 2276
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    2277 non-null   int64
 1   overall       2277 non-null   int64
 2   verified      2277 non-null   bool
 3   reviewTime    2277 non-null   object
 4   reviewerID    2277 non-null   object
 5   asin          2277 non-null   object
 6   reviewerName  2277 non-null   object
 7   reviewText    2277 non-null   object
 8   vote          2074 non-null   object
 9   image         828 non-null    object
dtypes: bool(1), int64(2), object(7)
memory usage: 162.5+ KB

In [15]:
appliances_df = appliances_df.drop(['vote','image',], axis=1)
appliances_df.head()

,Unnamed: 0,overall,verified,reviewTime,reviewerID,asin,reviewerName,reviewText
0,0,5,True,"08 22, 2013",A34A1UP40713F8,B00009W3I4,James. Backus,I like this as a vent as well as something tha...
1,1,5,True,"02 8, 2016",A1AHW6I678O6F2,B00009W3PA,kevin.,good item
2,2,5,True,"08 5, 2015",A8R48NKTGCJDQ,B00009W3PA,CDBrannom,Fit my new LG dryer perfectly.
3,3,5,True,"04 24, 2015",AR3OHHHW01A8E,B00009W3PA,Calvin E Reames,Good value for electric dryers
4,4,5,True,"03 21, 2015",A2CIEGHZ7L1WWR,B00009W3PA,albert j. kong,Price and delivery was excellent.

In [16]:
del appliances_df["Unnamed: 0"]

In [20]:
appliances_df['reviewTime'] = pd.to_datetime(appliances_df['reviewTime'])

In [21]:
appliances_df.rename(columns={"overall":"productRating","asin":"productID",}, inplace=True)
appliances_df.head()

,productRating,verified,reviewTime,reviewerID,productID,reviewerName,reviewText
0,5,True,2013-08-22,A34A1UP40713F8,B00009W3I4,James. Backus,I like this as a vent as well as something tha...
1,5,True,2016-02-08,A1AHW6I678O6F2,B00009W3PA,kevin.,good item
2,5,True,2015-08-05,A8R48NKTGCJDQ,B00009W3PA,CDBrannom,Fit my new LG dryer perfectly.
3,5,True,2015-04-24,AR3OHHHW01A8E,B00009W3PA,Calvin E Reames,Good value for electric dryers
4,5,True,2015-03-21,A2CIEGHZ7L1WWR,B00009W3PA,albert j. kong,Price and delivery was excellent.

In [54]:
appliances_df.groupby('productRating').sum()

               verified
productRating
1                     4
2                     7
3                   421
4                   222
5                  1594

In [50]:
appliances_df.groupby('productID').count().sort_values('productRating', ascending = False)

,productRating,verified,reviewTime,reviewerID,reviewerName,reviewText
productID,,,,,,
B0006GVNOA,2040,2040,2040,2040,2040,2040
B0014CN8Y8,24,24,24,24,24,24
B00JGTUQJ6,13,13,13,13,13,13
B0015UGPWQ,12,12,12,12,12,12
B004XLDE5A,8,8,8,8,8,8
B000XXWOGW,8,8,8,8,8,8
B0056I99WG,8,8,8,8,8,8
B00CW0O1EW,8,8,8,8,8,8
B001DPFP88,7,7,7,7,7,7
B000NCTOUM,7,7,7,7,7,7
B0053F80JA,7,7,7,7,7,7
B000N6302Q,7,7,7,7,7,7
B00P9C66PM,7,7,7,7,7,7
B00MGMWTQS,6,6,6,6,6,6
B00DM8J11Q,6,6,6,6,6,6
B001769IVI,6,6,6,6,6,6
B001DHLGOS,6,6,6,6,6,6
B00126NABC,6,6,6,6,6,6
B00570RQ0A,6,6,6,6,6,6
B004UB1O9Q,5,5,5,5,5,5
B004XLDDNI,5,5,5,5,5,5
B004XLDHSE,5,5,5,5,5,5
B008YDSH6E,5,5,5,5,5,5
B00DM8JA7Q,5,5,5,5,5,5
B00470A1S0,5,5,5,5,5,5
B00W4YKCGC,5,5,5,5,5,5
B00009W3PA,5,5,5,5,5,5
B0053F7TQA,4,4,4,4,4,4
B000XXYUSM,4,4,4,4,4,4
B00DM8KQ2Y,4,4,4,4,4,4
B00AHR3IG4,4,4,4,4,4,4
B000VL060M,4,4,4,4,4,4
B0042U16YI,2,2,2,2,2,2
B0015S4KIO,2,2,2,2,2,2
B00149JVOC,2,2,2,2,2,2
B00147DFQ4,2,2,2,2,2,2
B0013DN4NI,2,2,2,2,2,2
B000XTJRRA,2,2,2,2,2,2
B000W3P4AQ,2,2,2,2,2,2
B000VLI74Y,2,2,2,2,2,2
B00186NSGS,2,2,2,2,2,2
B00009W3I4,1,1,1,1,1,1
B00BIZDI0A,1,1,1,1,1,1
B009PCI2JU,1,1,1,1,1,1
B0045LLC7K,1,1,1,1,1,1
B001DPQPKU,1,1,1,1,1,1
B0009GVYNW,1,1,1,1,1,1
B0042ACZU2,1,1,1,1,1,1

In [48]:
appliances_df.isnull().sum()

productRating    0
verified         0
reviewTime       0
reviewerID       0
productID        0
reviewerName     0
reviewText       0
dtype: int64

##### I renamed the columns, grouped by "productRating" and "productID". I want to plot a chart to display the "productRating" against  "verified"...